.searchContainer {
    z-index: auto;
    margin-top: 6rem;
    width: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 5px;
}

/* .input:hover {
    z-index: -1;
}

.input:active {
    z-index: -1;
} */

/* 
.searchContainer h1 {
    color: black;
} */