@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-top: 128px;
  overflow: hidden;
}


/* COntent */
.Layout {
  color: white;
  width: 100%;
}

.site-card-wrapper {
  margin-top: 100px;
}


/* Navbar */
.header .container .logo h1 {
  color: white;
}